@model StudentManagementSystem_CodeFirst.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>
<hr />
<div class="row">
    <div class="col">
        <h4>Personal Details</h4>

        @*TODO Display student record here.*@

    </div>
    <div class="col">

        @*TODO Display student modules here.*@

    </div>
</div>
<div>

    @*Add navigation link here.*@

    <a asp-action="Index">Back to List</a>
</div>
