@model IEnumerable<StudentManagementSystem_CodeFirst.Models.Student>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <h1 class="col">All Students</h1>

        @*Add action button here.*@
        <a asp-action="Create" class="btn btn-primary float-right col-sm-1">Create New</a>
    </div>

@*Add student reocrd table here.*@