@model IEnumerable<StudentManagementSystem_CodeFirst.Models.Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1 class="col">All Students</h1>
    @*Add action button here.*@
</div>

@*Add student reocrd table here.*@